<div class="container p-5 d-flex justify-content-center">

    <form action="" class="w-100 mb-2" style="max-width: 400px; filter:drop-shadow(0 0 0.4rem black)">
      <h1 class="fs-5 mb-4 w-100">Ejemplo directiva personalizada</h1>
      <input type="text" class="form-control mb-1">
      <p 
        class="small"
        form-message
        text="Este campo es requerido"
        [hide]="false"
      >Mensaje error</p>
      <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>
  
</div>